body{
    box-sizing: border-box;
    background-color: #393E41;
    color: #E7BB41;
    font-size: 300%;
    width: 99vw;
    height: 97vh;
    display: flex;
    overflow: hidden;
}

div{
    display: flex;
    align-items:center;
    justify-content: center;
    width: inherit;
    height: inherit;
}